body {
    font-family: 'Roboto', 'sans-serif';
}
header {
    padding: 1% 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffb300;
    border-radius: 8px;
}
.search{
    justify-content: center;
    display: flex;
    width: 60%;
}
.search input {
    font-size: larger;
    width: 80%;
    border: 0;
    border-radius: 8px;
    padding: 1%;
    margin-right: 3%;
}
.search button {
    width: 10%;
    border: 2px solid white;
    border-radius: 10px;
    background:#ffb300;
    color: white;
}
